.font-small{
	font-size: 0.75rem !important;
}
.font-x-small{
	font-size: 0.6rem !important;
}
.font-xx-small{
	font-size: 0.5rem !important;
}

.table-responsive {
	max-height: 600px;
	overflow: auto;
}
.table-responsive-1
{
	max-height: 400px;
	overflow: auto;
}
table th {
	position: sticky;
	top: 0;
	background: white;
	z-index: 1;
}
.bg-logo-color{
	background-color: #2c82c3 !important;;

}
.table-type-1 {
	font-size: 0.9em;
	font-family: sans-serif !important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
}		
th,
td {
	padding: 12px !important;			
	min-width: 120px !important;
}
.col-size-1{
	min-width: 180px !important;
}
.table-type-1 tbody tr:last-of-type {
	border-bottom: 4px solid #2c82c3 !important;
}

.table-sticky-header th
{
	padding: 8px 8px !important;	
}
.table-sticky-header td
{
	padding: 10px 5px !important;
}
.sticky-header {
	grid-template-rows: auto auto;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
}
.sticky-header .header-row-1 {
	z-index: 3;
}
.sticky-header .header-row-2 {
	top: 2em; 
	z-index: 2;
}
.popup-session-out {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 999999;
}

.phase-text{
	width:50px ;
	height: 50px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	flex: none;
	font-weight: bold;

}
.pointer{
	cursor: pointer;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
} 
.custom-alert-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.highlight-first-letter::first-letter {
    color: red;
    font-weight: bold; 
    }