.font-small{
	font-size: 0.75rem !important;
}
.font-x-small{
	font-size: 0.6rem !important;
}
.font-xx-small{
	font-size: 0.5rem !important;
}

.table-responsive {
	height: 600px;
	overflow: auto;
}
table th {
	position: sticky;
	top: 0;
	background: white;
	z-index: 1;
}
.bg-logo-color{
	background-color: #2c82c3 !important;;

}
.table-type-1 {
	font-size: 0.9em;
	font-family: sans-serif !important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
}		
th,
td {
	padding: 15px 15px !important;			
	min-width: 120px;
}
.col-size-1{
	min-width: 180px !important;
}
.table-type-1 tbody tr:last-of-type {
	border-bottom: 4px solid #2c82c3 !important;
}

.table-sticky-header th
{
	padding: 8px 8px !important;	
}
.table-sticky-header td
{
	padding: 10px 5px !important;
}
.sticky-header {
	grid-template-rows: auto auto;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
}
.sticky-header .header-row-1 {
	z-index: 3;
}
.sticky-header .header-row-2 {
	top: 2em; 
	z-index: 2;
}